<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Simple.ApplicationAdmin.Data.Properties.Settings.Simple_ApplicationAdminConnectionString"
            connectionString="Data Source=.\SQL2012;Initial Catalog=Simple.ApplicationAdmin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>